<html>
  <head>
    {% block head %}
      {% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock %}
      {% block title %}
      {% endblock %}
      {% block css %}
	{% load staticfiles %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
        <!-- Custom styling plus plugins -->
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/maps/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
        <link href="{% static 'css/icheck/flat/green.css' %}"rel="stylesheet" />
        <link href="{% static 'css/floatexamples.css' %}" rel="stylesheet" />
      {% endblock %}
    {% endblock %}
  </head>
  <body class="nav-md pace-done" style="height: 97%;">
  {% block body %}

        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">

                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Cassandra</span></a>
                        </div>
                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile">
                            <div class="profile_pic">
                                <img src="{% static 'images/img.jpg' %}" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>Abdullah</h2>
                            </div>
                        </div>
                        <!-- /menu prile quick info -->
                        <div class="clearfix"></div>
                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                            <div class="menu_section">
                                <h3>Navigation Menu</h3>
                                <ul class="nav side-menu">
                                    <li><a><i class="fa fa-home"></i> View <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            <li><a href="cluster_view.html">Cluster View</a>
                                            </li>
                                            <li><a href="dc_view.html">DC View</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a><i class="fa fa-edit"></i>Operation<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">
                                            <li><a href="nodetool_op.html">Nodetool Operation</a>
                                            </li>
                                            <li><a href="cqlsh_op.html">CQLSH Operation</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->

                    </div>
                </div>
                <!-- top navigation -->
                <div class="top_nav">

                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle" style="cursor: grab">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        </nav>
                    </div>

                </div>
                <!-- /top navigation -->


                <!-- page content -->
                <div class="right_col" role="main" style="min-height: 300px">
		{% block content %}
		{% endblock %}
                <br/>
                <!-- footer content -->
                    <footer>
                        <div class="copyright-info">
                            <p class="pull-right">Editor: Abdullah, 2016		
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
                <!-- /page content -->
                <div class="clearfix"></div>
            </div>
        </div>
  
          <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
            </ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications">
            </div>
        </div>


      {% block js %}
	{% load staticfiles %}
	<script src="{% static 'js/lib/d3.min.js' %}"></script>
	<script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/nprogress.js' %}"></script>


        <!--[if lt IE 9]>
        <script src="{% static '../assets/js/ie8-responsive-file-warning.js' %}"></script>
        <![endif]-->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- gauge js -->
        <script src="{% static 'js/gauge/gauge.min.js' %}"></script>
        <script src="{% static 'js/gauge/gauge_demo.js' %}"></script>
        <!-- chart js -->
        <script src="{% static 'js/chartjs/chart.min.js' %}"></script>
        <!-- bootstrap progress js -->
        <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
        <script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
        <!-- icheck -->
        <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
        <!-- daterangepicker -->
        <script src="{% static 'js/moment/moment.min.js' %}"></script>
        <script src="{% static 'js/datepicker/daterangepicker.js' %}"></script>

        <script src="{% static 'js/custom.js' %}"></script>

        <!-- flot js -->
        <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
        <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.time.min.js' %}"></script>
        <script src="{% static 'js/flot/date.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.stack.js' %}"></script>
        <script src="{% static 'js/flot/curvedLines.js' %}"></script>
        <script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
	{% endblock %}
      {% endblock %}
  </body>
</html>
