{%extends 'base.html'%}
{%block title%}
  <title>{{cluster.block_name}}</title>
{%endblock%}
{%block content%}
  <h3>Cluster Topology</h3>
  <h6>{{cluster.block_name}}</h6>
  {%if cluster.getDatacenters|length > 0 %}
    <ul>
    {%for datacenter in cluster.getDatacenters %}
	<li>{{datacenter.block_name}}<br/><ul>
	{%for rack in datacenter.getRacks %}
		<li>{{rack.block_name}}<br/><ul>
		{%for nodes in rack.getNodes %}
		<li>{{nodes.block_name}}</li>
		{%endfor%}
		</ul></li>
	{%endfor%}
	</ul></li>
    {%endfor%}
    </ul>
  {%else%}
    <h3>No Nodes Added</h3>
  {%endif%}
  <h6>Add a new Node!</h6>
  <input type="text" value=""/>
  <input type="button" value="Add Node" />
{%endblock%}
