{% extends 'base.html' %}
{% block title %}
<title>Index</title>
{%endblock%}
{%block content%}
<div class="row">
<br />
  {%if clusters%}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6">
      <h3>Cluster List</h3>
      <ul>
      {%for cluster in clusters%}
	<li><a href="{%url 'dashboard:cluster' cluster.id%}">{{cluster.block_name}}</a></li>

      {%endfor%}
      </ul>
    </div>
  </div>
  {%else%}
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6">
      <h3>Empty <small>no content</small></h3>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">...</div>
  <div class="clearfix"></div>
  {%endif%}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6">
      <h3>Add <small>new cluster</small></h3>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
  <input type="text" value=""/>
  <input type="button" value="Add Cluster"/>
 </div>
  <div class="clearfix"></div>
</div>
{%endblock%}
