{%extends 'base.html'%}
{%block title%}
  {%if node%}
  <title>{{node.node_name}}</title>
  {%else%}
  <title>Unknown Node</title>
  {%endif%}
{%endblock%}
{%block content%}
  <div>Some Data</div>
{%endblock%}
